
.modal{
  background: rgba(64, 64, 64, 0.3);
}
.customized-scroll::-webkit-scrollbar-thumb{
    background-color: #B4B4B4;
    height: 5px;
    width: 5px;
  }
.customized-scroll::-webkit-scrollbar{
    height: 5px;
    width: 5px;
  }
  
@media screen and (max-width:980px) {
    .image-none{
      width: 18rem;
    }
    .textbox{
      width: 28rem;
    }
}
@media screen and (max-width:760px) {
    .image-none{
      display: none;
    }
}